*{margin: 0 0 0 0; padding:0;box-sizing: border-box;}

body{ background-color: #fff4e0; width: 100%}
.WebContainer{width:100%;min-width:1000px;height:auto;}

nav a{background-color:#ffb638;z-index: 100;position: relative}
a.menu{display: inline-block;width:25%;padding:15px 30px;color: white;text-decoration: none;text-align: center;font-family: 'Farro', sans-serif;}
a.menu:hover{background-color:#db8b00}
.active{background-color: #db8b00}

#wrapper{ max-width: 90%;margin: 0 auto 0 auto;background-color: #fff1d9;}

h1{color:#5164ad;font-family: 'League Spartan', sans-serif;font-size: 61px;margin: 1% 35% 0 13%;padding: 150px 0; position: absolute;}

img.fala1{height: 140%;margin: -12% 0 0 2%; position: absolute;z-index: 0}
img.kolo1{height:120%;float: right;margin:-6% 0 0 34%;position: absolute;z-index: 0}
img.right{height: 55%;margin: 10% 0 0 44%;position: absolute;z-index: 0}
a.menu1{float: left;color: #8cbfa5;font-family: 'Fredoka One', cursive;font-size: 45px;margin: 21% 0 0 21%;position: absolute;text-decoration: none}
a.menu2{float: left; color: #8cbfa5;font-family: 'Fredoka One', cursive;font-size: 45px;margin: 24% 0 0 21%;position: absolute;text-decoration: none}
a.menu3{float: left; color: #8cbfa5;font-family: 'Fredoka One', cursive;font-size: 45px;margin: 27% 0 0 21%;position: absolute;text-decoration: none}
a.menu4{float: left; color: #8cbfa5;font-family: 'Fredoka One', cursive;font-size: 45px;margin: 30% 0 0 21%;position: absolute;text-decoration: none}

a.menu1:hover{color:#579e7a}
a.menu2:hover{color:#579e7a}
a.menu3:hover{color:#579e7a}
a.menu4:hover{color:#579e7a}

footer {height:40px;background-color: #ffb638; color: white; line-height: 40px; text-align: center;position: fixed; bottom: auto;bottom:0;width:100%;}

article h2{color: #8cbfa5;font-family: 'League Spartan', sans-serif;font-size: 85px;margin: -3% 50% 0 11%;padding: 150px 0; position: absolute;}
article p{float: left;color: #7186d9;font-family: 'Farro', sans-serif;font-size: 20px;margin: 13% 44% 0 11%;position: absolute;}
article p2{float: right;color: #7186d9;font-family: 'Farro', sans-serif;font-size: 20px;margin: 23% 17% 0 40%;position: absolute;;text-align: right}
article p3{float: right;color: #7186d9;font-family: 'Farro', sans-serif;font-size: 20px;margin: 36% 17% 0 40%;position: absolute;text-align: right}
img.inz {height:30%;position: absolute;margin: 21% 0 0 15%;z-index: 100}
img.fala2 {;position: absolute;margin: 20% 0 0 12.5%;z-index: 0}
img.team {position: absolute;height: 30%;margin: 3% 100% 0 50%}
img.tlo3{position: absolute;height: 112%;margin:0 0 -30% -5%;z-index: -2}
img.tlo4{position: absolute;height: 100%;z-index: -1;margin: 0 -20% 0 0}

a.powrot{color: #de5959;font-family: 'Fredoka One', cursive;font-size: 50px;margin: 40% 0 0 7%;position: absolute;text-decoration: none;background: none}
a.powrot:hover{color: #b33737}

img.manin {height:30%;position: absolute;margin: 24% 0 0 12%;z-index: 100}
img.internet {position: absolute;height: 40%;margin: 3% 10% 0 50%}
article p4{float: left;color: #7186d9;font-family: 'Farro', sans-serif;font-size: 16px;margin: 12% 44% 0 11%;position: absolute;}
article p5{float: right;color: #7186d9;font-family: 'Farro', sans-serif;font-size: 16px;margin: 25% 17% 0 40%;position: absolute;;text-align: right}
article p6{float: right;color: #7186d9;font-family: 'Farro', sans-serif;font-size: 16px;margin: 37% 17% 0 40%;position: absolute;;text-align: right}

img.typek1 {height:40%;position: absolute;margin: 20% 0 0 10%;z-index: 100}
img.typek2 {position: absolute;height: 43%;margin: 1% 100% 0 55%}
article p7{float: left;color: #7186d9;font-family: 'Farro', sans-serif;font-size: 16px;margin: 11% 44% 0 11%;position: absolute;}
article p8{float: right;color: #7186d9;font-family: 'Farro', sans-serif;font-size: 16px;margin: 22% 17% 0 30%;position: absolute;;text-align: right}
article p9{float: right;color: #7186d9;font-family: 'Farro', sans-serif;font-size: 16px;margin: 33% 17% 0 30%;position: absolute;;text-align: right}

article p10{align-content: center;margin: 10% 0% 0 10%;position: absolute;}

